<template>
  <v-app>
    
    <v-navigation-drawer app v-if="user" v-model="drawer" absolute bottom temporary>
      <v-list>
        <v-list-item class="px-2">
          <v-list-item-avatar>
            <v-img
              src="https://randomuser.me/api/portraits/women/85.jpg"
            ></v-img>
          </v-list-item-avatar>
        </v-list-item>

        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title class="title">
              {{ user.user.name }}
            </v-list-item-title>
            <v-list-item-subtitle>{{ user.user.email }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>
      <v-list nav dense>
        <v-list-item link>
          <v-list-item-icon>
            <v-icon>mdi-task</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Заявки</v-list-item-title>
        </v-list-item>
        <!-- <v-list-item link>
          <v-list-item-icon>
            <v-icon>mdi-account-multiple</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Shared with me</v-list-item-title>
        </v-list-item>
        <v-list-item link>
          <v-list-item-icon>
            <v-icon>mdi-star</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Starred</v-list-item-title>
        </v-list-item> -->
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app>
      <!-- <v-icon @click.stop="drawer = !drawer">menu</v-icon> -->
      <v-toolbar-title>Help Desk</v-toolbar-title>
      <v-spacer></v-spacer>

    

    <v-btn v-if="user" text @click="logout">
      Выйти
    </v-btn>

      
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container class="main-container" fluid>
        <!-- If using vue-router -->
        <router-view></router-view>
      </v-container>
    </v-main>

    <v-footer app>
      <!-- -->
    </v-footer>
  </v-app>
</template>

<script>
import {mapActions} from 'vuex';
export default {
  created() {
    console.log("Component APP created.");
    var user = localStorage.getItem('user');
    
    if (user) {
      console.log("USER IS HERE!");
      user = JSON.parse(user);
      this.setUser(user);
      //this.$router.push("desk");
    } else {
      console.log("USER NOT FOUND!");
      this.$router.push("login");
    }
  },
  data: () => ({
    drawer: false,
    group: null,
  }),
  computed: {
    user() {
      return this.$store.getters.getUser;
    },
  },
  methods:{
    ...mapActions(['setUser','logout']),
  },

  watch: {
    group() {
      this.drawer = false;
    },
  },
};
</script>

<style>
.main-container {
  margin-top: 20px;
}
</style>
