
<template>
  <v-form v-model="valid">
    <v-container>
      <v-card class="mx-auto" max-width="600">
        <v-card-text>
          <h1>Авторизация</h1>
          <v-row>
            <v-col cols="12" md="12">
              <v-text-field
                v-model="login"
                :rules="emailRules"
                label="E-mail"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="12">
              <v-text-field
                v-model="password"
                type="password"
                :counter="10"
                label="пароль"
                required
              ></v-text-field>
            </v-col>

            <v-btn
              class="mr-4"
              @click="handleSubmit"
              color="primary"
              elevation="2"
              large
            >
              Войти
            </v-btn>
          </v-row>
        </v-card-text>
        <v-alert type="error" v-if="errors"> {{ errors }} </v-alert>
      </v-card>
    </v-container>
  </v-form>
</template>


<script>
export default {
  data: () => ({
    valid: false,
    login: "test@test.com",
    password: "123456",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+/.test(v) || "E-mail must be valid",
    ],
  }),
  methods: {
    submit() {
      console.log("asd");
    },
    handleSubmit: function (e) {
      e.preventDefault();
      if (this.password.length > 0) {
        this.$store.dispatch("ajaxLoginAction", {
          email: this.login,
          password: this.password,
        });
        // .then((e) => {
        //   console.log("response is here",e);
        //   if(e){
        //     this.$router.push("user-cabinet");
        //   }
        // });

        // .then((response) => {
        //   console.log(response);
        //   this.$router.push("dashboard");
        // })
      }
    },
  },
  computed: {
    errors() {
      return this.$store.getters.getLoginErrors;
    },
  },
};
</script>

<style>
.v-card {
  padding: 30px;
}
h1 {
  text-align: center;
  margin-bottom: 2rem;
}
</style>
