<template>
  <v-container>
    <h1>Личный кабинет</h1>
    <v-card max-width="600" class="mx-auto">
      <v-toolbar color="light-blue" dark>
        <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->

        <v-toolbar-title>Мои заявки</v-toolbar-title>

        <v-spacer></v-spacer>

        <!-- <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn> -->

        <createDialog />
      </v-toolbar>

      <v-list subheader two-line>
        <v-subheader inset>Активные заявки</v-subheader>

        <div class="scrollable-list">
          <v-list-item
            v-for="issue in getIssueList.opened"
            :key="issue.id_issue"
          >
            <v-list-item-avatar>
              <!-- <v-icon class="grey lighten-1" dark></v-icon> -->
              <v-icon v-if="issue.id_status === 1">mdi-moon-new</v-icon>
              <v-icon v-if="issue.id_status === 2"
                >mdi-progress-question</v-icon
              >
              <v-icon v-if="issue.id_status === 3">mdi-progress-wrench</v-icon>
              <v-icon v-if="issue.id_status === 4"
                >mdi-progress-download</v-icon
              >
              <v-icon v-if="issue.id_status === 5">mdi-progress-check</v-icon>
              <v-icon v-if="issue.id_status === 6">mdi-progress-alert</v-icon>
              <v-icon v-if="issue.id_status === 7">mdi-progress-close</v-icon>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title v-text="issue.title"></v-list-item-title>

              <v-list-item-subtitle
                v-text="
                  'Создано:' +
                  issue.create_date +
                  ' Статус:' +
                  issue.name_status
                "
              ></v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-action>
              <RequestDialog :request="issue" />
            </v-list-item-action>
          </v-list-item>
        </div>

        <v-divider inset></v-divider>

        <v-subheader inset>Завершенные заявки</v-subheader>

        <div class="scrollable-list">
          <v-list-item
            v-for="issue in getIssueList.closed"
            :key="issue.id_issue"
          >
            <v-list-item-avatar>
              <!-- <v-icon class="grey lighten-1" dark></v-icon> -->
              <v-icon v-if="issue.id_status === 1">mdi-moon-new</v-icon>
              <v-icon v-if="issue.id_status === 2"
                >mdi-progress-question</v-icon
              >
              <v-icon v-if="issue.id_status === 3">mdi-progress-wrench</v-icon>
              <v-icon v-if="issue.id_status === 4"
                >mdi-progress-download</v-icon
              >
              <v-icon v-if="issue.id_status === 5">mdi-progress-check</v-icon>
              <v-icon v-if="issue.id_status === 6">mdi-progress-alert</v-icon>
              <v-icon v-if="issue.id_status === 7">mdi-progress-close</v-icon>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title v-text="issue.title"></v-list-item-title>

              <v-list-item-subtitle
                v-text="
                  'Создано:' +
                  issue.create_date +
                  ' Статус:' +
                  issue.name_status
                "
              ></v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-action>
              <v-btn icon>
                <v-icon color="grey lighten-1">mdi-information</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </div>
      </v-list>
    </v-card>
  </v-container>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import CreateDialog from "./CreateDialog.vue";
import RequestDialog from "./RequestDetail.vue";

export default {
  components: {
    CreateDialog,
    RequestDialog,
  },
  mounted() {
    this.ajaxLoadIssueList();
  },
  data: () => ({
    createDialog: false,
    detailDialog: false,
    selectedDialog: null,
  }),
  methods: {
    ...mapActions(["ajaxLoadIssueList"]),
    openRequest(item) {
      this.selectedDialog = item;
      this.detailDialog = true;
    },
  },
  computed: {
    ...mapGetters(["getIssueList"]),
  },
};
</script>

<style scoped>
.scrollable-list {
  height: 36vh;
  overflow-y: scroll;
}
</style>