<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <template v-slot:activator="{ on, attrs }">
      <v-btn v-bind="attrs" v-on="on" icon>
        <v-icon>mdi-plus-circle</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Создание заявки</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <!-- <v-col cols="12" sm="6" md="4">
                <v-text-field label="Legal first name*" required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Legal middle name"
                  hint="example of helper text only on focus"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Legal last name*"
                  hint="example of persistent helper text"
                  persistent-hint
                  required
                ></v-text-field>
              </v-col> -->
            <v-col cols="12">
              <v-text-field
                label="Заголовок*"
                required
                v-model="title"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-textarea
                label="Подробное описание*"
                v-model="description"
                required
              ></v-textarea>
            </v-col>
            <v-col cols="12" sm="6">
              <v-select
                :items="categories"
                label="Категория*"
                v-model="id_category"
                required
              ></v-select>
            </v-col>
            <v-col cols="12" sm="6">
              <v-select
                :items="['низкая', 'высокая', 'срочная']"
                label="Важность*"
                v-model="priority"
                required
              ></v-select>
            </v-col>
            <!-- <v-col cols="12" sm="6">
              <v-autocomplete
                :items="[
                  'Skiing',
                  'Ice hockey',
                  'Soccer',
                  'Basketball',
                  'Hockey',
                  'Reading',
                  'Writing',
                  'Coding',
                  'Basejump',
                ]"
                label="Interests"
                multiple
              ></v-autocomplete>
            </v-col> -->
          </v-row>
        </v-container>
        <small>*обязательные поля</small>
        <v-alert type="error" v-if="errors"> {{ errors }} </v-alert>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="dialog = false">
          Отмена
        </v-btn>
        <v-btn color="blue darken-1" text @click="createIssue">
          Сохранить
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  mounted() {
    this.$store.dispatch("ajaxLoadCategoriesAction", {});
  },
  data() {
    return {
      dialog: false,
      title: "",
      description: "",
      priority: "низкая",
      id_category: null,
    };
  },
  methods: {
    closeDialog() {
      this.dialog = false;
    },
    createIssue() {
      console.log(this.data);
      this.$store.dispatch("ajaxCreateIssue", 
        {
          title: this.title,
          description: this.description,
          priority: this.priority,
          id_category: this.id_category,
        }).then(e=>this.closeDialog());
    },
  },
  computed: {
    categories() {
      return this.$store.getters.getIssueCategories;
    },
    user(){
        return this.$store.getters.getUser;
    }
  },
};
</script>