<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <template v-slot:activator="{ on, attrs }">
      <v-btn v-bind="attrs" v-on="on" icon>
        <v-icon color="grey lighten-1">mdi-information</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Информация по заявке</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Заголовок"
                required
                value="request.title"
                v-model="title"
                disabled="true"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-textarea
                label="Подробное описание"
                v-model="description"
                disabled="true"
                required
              ></v-textarea>
            </v-col>
            <v-col cols="12" sm="6">
              <v-select
                :items="categories"
                label="Категория"
                v-model="id_category"
                disabled="true"
                required
              ></v-select>
            </v-col>
            <v-col cols="12" sm="6">
              <v-select
                :items="['низкая', 'высокая', 'срочная']"
                label="Важность"
                v-model="priority"
                disabled="true"
                required
              ></v-select>
            </v-col>
            <!-- <v-col cols="12" sm="6">
              <v-autocomplete
                :items="[
                  'Skiing',
                  'Ice hockey',
                  'Soccer',
                  'Basketball',
                  'Hockey',
                  'Reading',
                  'Writing',
                  'Coding',
                  'Basejump',
                ]"
                label="Interests"
                multiple
              ></v-autocomplete>
            </v-col> -->
          </v-row>
        </v-container>
       
        <v-alert type="error" v-if="errors"> {{ errors }} </v-alert>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="dialog = false">
          Назад
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  name: 'RequestDialog',
  props: ['request'],
  data() {
    return {
      dialog: false,
      request: this.request,
      title: this.request.title,
      description: this.request.description,
      priority: this.request.priority,
      id_category: this.request.id_category,
    };
  },
  methods: {
    closeDialog() {
      this.dialog = false;
    },
    createIssue() {
      console.log(this.data);
      this.$store.dispatch("ajaxCreateIssue", 
        {
          title: this.title,
          description: this.description,
          priority: this.priority,
          id_category: this.id_category,
        }).then(e=>this.closeDialog());
    },
  },
  computed: {
    categories() {
      return this.$store.getters.getIssueCategories;
    },
    user(){
        return this.$store.getters.getUser;
    }
  },
};
</script>

<style>
body .theme--light.v-input--is-disabled, .theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea {
    color: rgba(0,0,0,.98) !important;
}
</style>